
  <div class="sign-in spot-form">
    <h2 class="form-login"> Enter a New Spot </h2>

    <form class="form-login" action="/spots" method="post">
      <label for="name-input">Name</label>
      <br>
      <input id="name-input"type="text" name="nameValue" value="">
      <br>

      <label for="workout-input">Workout Type</label>
      <br>
      <select id="workout" name="workoutValue">
        <option value="Cardio">Cardio</option>
        <option value="Resistance">Resistance</option>
        <option value="Cardio & Resistance">Cardio & Resistance</option>
      </select>
      <br>

      <label for="location-input">Location</label>
      <br>
      <input id="location-input"type="text" name="locationValue">
      <br>

      <label for="rating-input">Rating</label>
      <br>
      <input id="rating-input"type="type" name="ratingValue">
      <br>

      <label for="image-input">Image</label>
      <br>
      <input id="image-input"type="img" name="imageValue">
      <br>


      <br>
      <button>Submit</button>
      <br>
      <br>
    </form>
  </div>
