
<header class="header" id="HOME">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#loso-navbar-collapse-1"
        aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/images/logo-small.png" alt="logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="loso-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item" href="#HOME">HOME</a></li>
          <li><a class="nav-item" href="#ABOUT">ABOUT</a></li>
          <li><a class="nav-item" href="#FEATURES">FEATURES</a></li>
          <li><a class="nav-item" href="#PORTFOLIO">PORTFOLIO</a></li>
          <li><a class="nav-item" href="#TEAM">TEAM</a></li>
          <li><a class="nav-item" href="#CONTACT">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="header-overlay">
    <div class="container header-container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo text-center">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="header-text">
            <h1>A clean and modern looking responsive website </h1>
            <p> Built with great effort! </p>
          </div>
          <div class="header-btns">
            <a href="#" class="btn wow fadeInLeft btn-download"> Download </a>
            <a href="#" class="btn wow fadeInRight btn-tour">
              Take a tour
              <i class="fa fa-angle-down"></i>
             </a>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="header-iphone">
            <img src="/images/iphone-header.png" alt="header-iphone">
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<section id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2> About Us </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus. Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
         </p>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-us-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-iphone">
            <img class="img-responsive" src="images/about-iphone.png" alt="iphone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="choose-us-title">
            <h2> Why Choose us?  </h2>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius.
            </p>
          </div>
          <div class="choose-us-des">
            <div class="choose-us-item">
              <div class="icon">
                <i class="fa fa-bolt"></i>
              </div>
              <h3>TITLE HERE</h3>
              <p>
                Lipsum Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a,
                cursus sit amet sapien. Donec eu placerat nisi.
              </p>
            </div>
            <!-- second element -->
            <div class="choose-us-item">
              <div class="icon">
                <i class="fa fa-bullhorn"></i>
              </div>
              <h3>TRYING NEW THINGS</h3>
              <p>
                Lipsum Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Quisque lacus dui,
                interdum sit amet varius a, cursus sit amet sapien. Donec
                eu placerat nisi.
              </p>
            </div>
            <!-- third element -->
            <div class="choose-us-item">
              <div class="icon">
                <i class="fa fa-flag"></i>
              </div>
              <h3>TRYING NEW THINGS</h3>
              <p>
                Lipsum Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Quisque lacus dui,
                interdum sit amet varius a, cursus sit amet sapien. Donec
                eu placerat nisi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section  -->
<section class="testimonial">
  <div class="testimonial-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-testimonial"class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
              <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active text-center">
                <img class="center-block" src="/images/client-01.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Randal</h2>
                  <h4><span> Sr. Software Engineer, </span>Blue Gyms</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco
                     laboris nisi ut aliquip.
                  </p>
                </div>
              </div>
              <div class="item text-center">
                <img class="center-block" src="/images/client-02.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Juan Jose</h2>
                  <h4><span> Fitness Trainer, </span>Blue Gyms</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco
                     laboris nisi ut aliquip.
                  </p>
                </div>
              </div>
              <div class="item text-center">
                <img class="center-block" src="/images/client-03.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Fernado</h2>
                  <h4><span> High-Perfomane Athlete, </span>Agility</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco
                     laboris nisi ut aliquip.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features" id="FEATURES">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Features</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="features-inner-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="left-feature-item">
            <div class="icon left-feature-item-icon">
              <i class="fa fa-desktop"></i>
            </div>
            <h3> RETINA READY </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <div class="left-feature-item">
            <div class="left-feature-item-icon">
              <i class="fa fa-mobile"></i>
            </div>
            <h3> MOBILE READY </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <div class="left-feature-item">
            <div class="left-feature-item-icon">
              <i class="fa fa-eye"></i>
            </div>
            <h3> EASY READY </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-iphone">
            <img class="img-responsive" src="/images/iphone-02.png" alt="feature iphone">
          </div>
        </div>

        <div class="col-md-4">
          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <i class="fa fa-certificate"></i>
            </div>
            <h3> CERTIFIED SOLUTION </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <i class="fa fa-rss"></i>
            </div>
            <h3> CONSTANT FEED </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <i class="fa fa-database"></i>
            </div>
            <h3> DATABASE HANDLING </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Purchase Now Section  -->
<section class="purchase-now">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="class-md-3">
        <a href="#" class="btn btn-primary btn-purchase-now" role="button">Purchase Now </a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio" id="PORTFOLIO">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Here is our different parks and the different reviews that the users have left. We have had great sucess since deployment.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera2.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera3.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera4.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera5.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera6.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera7.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/images/camera8.jpg">
      </div>
    </div>
  </div>

</section>

<!-- Counter Section -->
<section class="counter">
  <div class="counter-overlay">
    <div class="container">
      <div class="row text-center">

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-cloud-download"></i>
            </div>
            <h2><span class="counter-num"> 1588</span><span>+</span></h2>
            <p>Downloads</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-gift"></i>
            </div>
            <h2><span class="counter-num"> 1900</span><span>+</span></h2>
            <p>Awards</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-heart-o"></i>
            </div>
            <h2><span class="counter-num"> 158</span><span>+</span></h2>
            <p>likes</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-check"></i>
            </div>
            <h2><span class="counter-num"> 858</span><span>+</span></h2>
            <p>Reviews</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Our Team Section -->
<section id="TEAM">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Work With Us</h2>
          <p>These are some of the people I have work with. Shoot us a line to work with us!</p>
        </div>
      </div>
    </div>

    <div class="row team">
      <div class="col-md-3">
        <img class="portfolio-item" src="/images/person1.jpg" alt="">
        <h2>Walter White</h2>
        <p>Front End Developer</p>
      </div>

      <div class="col-md-3">
        <img class="portfolio-item" src="/images/person2.jpg" alt="">
        <h2>Dana Hudson</h2>
        <p>UI/UX Expert</p>
      </div>

      <div class="col-md-3">
        <img class="portfolio-item" src="/images/person3.jpg" alt="">
        <h2>Emiliano Benitez</h2>
        <p>Back End Developer</p>
      </div>

      <div class="col-md-3">
        <img class="portfolio-item" src="/images/person4.jpg" alt="">
        <h2>Laurent Lautrec</h2>
        <p>Project Manager</p>
      </div>

  </div>

</section>

<section class="available-on">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="available-title">
          <h2>Available Now</h2>
          <p>
            These are some of the people I have work with. Shoot us a line to work with us!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-apple"></i>
                <div class="available-on-inner">
                  <h2>iOS</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-android"></i>
                <div class="available-on-inner">
                  <h2>ANDROID</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-windows"></i>
                <div class="available-on-inner">
                  <h2>WINDOWS</h2>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact-info -->
<section class="contact-info" id="CONTACT">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Contact Info</h2>
          <p>If you want to send me a message please find my contact info below.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-push-2">
        <div class="info">
          <div class="row-info">
            <p><i class="div-info fa fa-map-marker"></i>SW 120 St, Miami FL, 33130</p>
          </div>
          <div class="row-info">
            <p><i class="div-info fa fa-envelope"></i>filioarturo@gmail.com</p>
          </div>
          <div class="row-info">
            <p><i class="div-info fa fa-phone"></i>+52-SECRET-PHONE :P</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-push-2">
        <div class="form">
          <div id="sendmessage">
          </div>
          <div id="errormessage">
            <form class="contact-form" role="form" method="post">
              <input class="contactForm" type="text" placeholder="Name" name="" value="">
              <br>
              <input class="contactForm" type="text" placeholder="Email"name="" value="">
              <br>
              <input class="contactForm" type="text" placeholder="Subject" name="" value="">
              <br>
              <textarea class="contactForm textarea" placeholder="Your Text Here..." name="name" rows="5"></textarea>
              <button class="btn btn-download form-btn" type="button" name="button">Send Message</button>
            </form>
          </div>
        </div>
      </div>

    </div>

</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="copyright">
          <p>Copyright &copy; 2017 <a href="#"> - Arturo Filio</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="scroll-top">
          <a href="#HOME" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
