<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- required meta tab -->
    <meta charset="utf-8">

    <!-- Display webpage in edge mode places IE in HR, -->
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">

    <!-- Optimization for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Spot It</title>

    <!-- <link rel="stylesheet" href="/stylesheets/font-awesome.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/images/favicon.png">

    <link rel="stylesheet" href="/stylesheets/animate.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/stylesheets/mediaquerys.css">

  </head>
  <body>
    <header class="header" id="HOME">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#loso-navbar-collapse-1"
            aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <p>SPOT-IT</p>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="loso-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-item" href="/">HOME</a></li>
              <li><a class="nav-item" href="#ABOUT">ABOUT</a></li>
              <li><a class="nav-item" href="/spots">SPOTS</a></li>
              <li><a class="nav-item" href="/signup">SIGN UP</a></li>
              <li><a class="nav-item" href="/login">LOG IN</a></li>
              <li><a class="nav-item" href="/logout">LOG OUT</a></li>
              <li><a class="nav-item" href="/#CONTACT">CONTACT</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>



    </header>

    <%- body %>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="copyright">
              <p>Copyright &copy; 2017 <a href="#"> - Arturo Filio</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="scroll-top">
              <a href="#HOME" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- <script type="text/javascript" src="/javascripts/jquery.counterup.min.js"></script>

    <script type="text/javascript" src="/javascripts/jquery.waypoints.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/wow.min.js">

    </script>

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" scr="/javascripts/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/frontend.js"></script>

  </body>
</html>
