/* Adding Break Points */
@media only screen and (max-width: 820px) {
  .navbar-default {
    background-color: #fff !important;
    border-color: #e6e6e6;
  }
}

@media only screen and (max-width: 820px) {
  .navbar-default {
    background-color: #fff;
    border-color: #e6e6e6;
  }
  .header-iphone {
    display: none;
  }
  .navbar-nav {
    display: none;
  }
}

@media only screen and (min-width: 992px ) {

}
