/* Adding Break Points */
@media only screen and (max-width: 767px) {
  .navbar-default {
    background-color: #fff !important;
    border-color: #e6e6e6;
  }
  .header-text, .header-btns {
    text-align: center;
  }
}

@media (min-width: 820px) and (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .header-text, .header-btns {
    text-align: center;
  }



}

@media only screen and (max-width: 820px) {
  .navbar-default {
    background-color: #fff;
    border-color: #e6e6e6;
  }
  .header-iphone {
    display: none;
  }
  .about-iphone {
    display: none;
  }
  .choose-us-title {
    text-align: center;
  }
  .choose-us-title h2:after{
    left:45%;
  }
  .choose-us-des {
    text-align: left;
  }
  .left-feature-item {
    position: relative;
    padding-left: 90px;
    padding-bottom: 10px;
    margin-top: 35px;
    text-align: left;
  }
  .left-feature-item-icon {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    margin-right: 50px;
  }
  .right-feature-item {
    padding-top: 5px;
    text-align: left;
  }
  .feature-iphone {
    display: none;
  }
  .purchase-now {
    text-align: center;
  }
  .purchase-now a {
    margin-top: 20px;
  }
  .btn-purchase-now {
    width: 92.5%
  }
  /*.portfolio-item {
    max-width: 360px;
    width: 80%;
    text-align: center;
    margin: 0 10%;
  }*/
  .available-on {
    text-align: center;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info i {
    margin: 0 auto;
    left: 80px;
    float: inherit;
    margin-right: 20px;
  }
  .contact-form button {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-download {
    width: 100%;
    margin: 0 auto;
  }

  .sign-in,
  .log-in {
    text-align: center;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 480px ) {
  .portfolio-item {
    width: 60%;
    margin-left: 20%
  }
  .profile-page, .profile-container {
    background-color: transparent;
    border-color: transparent;
  }
  .spots-button-profile {
    margin: 30px 5px 30px -11px;
    width: 400px;
  }
  .spots-button {
    margin: 30px 15% 15px 4%;
    width: 380px;
  }
  .all-spots-button-profile {
    margin: 30px 15% 15px 4%;
    width: 380px;
  }

  .spot-name {
    opacity: 1;
    width: 90%;
  }
  .spot-name h2 {
    margin-right: 40px;
  }
  .profile-page img {
    position: relative;
    left: 33px;
    margin: 0 auto;
    height: 282px;
    width: 337px;

  }
  .profile-page h2 {
    text-align: center;
  }
  .profile-stats {
    width: 50%;
    float: left;
  }
  .macros-stats-grams {
    text-align: center;
    margin: 1px 1px 1px 1px;
  }
  .macros-stats h3 {
    text-align: center;
  }
  .faq {
    margin-top: 18px;
  }
  .macros-bmr-calories h3 {
    text-align: center;
  }
  .edit-profile {
    width: 300px;
  }
  .edit-profile input, .edit-profile label, .edit-profile select {
    position: relative;
    left: -65px;
  }
  .edit-profile img {
    position: relative;
    left: -65px;
  }
  .edit-profile button {
    position: relative;
    left: -65px;
    margin-bottom: 15px;
  }
}
