
  <div class="log-in sign-in">

    <form class="form-login" action="/process-login" method="post">
      <h2 class="form-login-header"> Log In </h2>

      <label for="email-input" >email</label>
      <br>
      <input id="email-input" type="text" name="loginEmail" value="">
      <br>

      <label for="password-input" >password</label>
      <br>
      <input id="password-input" type="password" name="loginPassword">
      <br>
      <br>
      <button>Log In</button>
      <br>
      <br>
      <a class="btn btn-default" id="facebook" href="/auth/facebook"> Log In With Facebook <i class="fa fa-facebook"></i></a>
      <br>
      <br>
      <a class="btn btn-default" id="google" href="/auth/google">Log In With Google <i class='fa fa-google'></i></a>
    </form>
  </div>

  <!-- <form>

      <div class="group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
      </div>

      <div class="group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>

    </form> -->
