
  <div class="log-in sign-in">
    <h2 class="form-login"> Log In </h2>

    <form class="form-login" action="/process-login" method="post">
      <label for="email-input" >email</label>
      <br>
      <input id="email-input" type="text" name="loginEmail" value="">
      <br>

      <label for="password-input" >password</label>
      <br>
      <input id="password-input" type="password" name="loginPassword">
      <br>
      <br>
      <button>Log In</button>
      <br>
      <br>
      <a class="btn btn-default" id="facebook" href="/auth/facebook"> Log In With Facebook <i class="fa fa-facebook"></i></a>
      <br>
      <br>
      <a class="btn btn-default" id="google" href="/auth/google">Log In With Google <i class='fa fa-google'></i></a>
    </form>
  </div>
