
  <div class="sign-in">

    <form class="form-login" action="/process-signup" method="post">
      <h2 class="form-login-header"> Sign Up </h2>

      <br>
      <label for="email-input">email</label>
      <br>
      <input id="email-input"type="text" name="signupEmail" value="">
      <br>
      <!-- <span class="highlight"></span>
      <span class="bar"></span> -->

      <label for="password-input">password</label>
      <br>
      <input id="password-input"type="password" name="signupPassword">
      <br>
      <br>
      <button>Sign Up</button>
      <br>
      <br>
      <a class="btn btn-default" id="facebook" href="/auth/facebook"> Log In With Facebook <i class="fa fa-facebook"></i></a>
      <br>
      <br>
      <a class="btn btn-default" id="google" href="/auth/google">Log In With Google <i class='fa fa-google'></i></a>
    </form>
  </div>
