
  <div class="sign-in">

    <form class="form-login" action="/process-signup" method="post">
      <h2 class="form-login-header"> Sign Up </h2>

      <div class="group">
        <input id="email-input" type="text" name="loginEmail" value="">
        <label for="email-input" >email</label>

        <span class="highlight"></span>
        <span class="bar"></span>

        <br>
      </div>

      <div class="group">
        <input id="password-input" type="password" name="loginPassword">
        <span class="highlight"></span>
        <label for="password-input" >password</label>

        <span class="bar"></span>
        <br>
      </div>

      <br>
      <button>Sign Up</button>
      <br>
      <br>
      <a class="btn btn-default" id="facebook" href="/auth/facebook"> Log In With Facebook <i class="fa fa-facebook"></i></a>
      <br>
      <br>
      <a class="btn btn-default" id="google" href="/auth/google">Log In With Google <i class='fa fa-google'></i></a>
    </form>
  </div>
