<div class="container">
  <img src="" alt="">
  <p>Profile Pic</p>
  <h2>Hi <%= profileInfo.name %></h2>
  <br>
  <p>Name: </p>
  <p>Heigt: </p>
  <p>Weight: </p>
  <p>Activity: </p>
  <p>Gender: </p>
  <p>Age: </p>
  <p>Goal: </p>
</div>
